{{#if products}}
<table class="table table-bordered table-hover table-dark">
    <thead>
        <tr>
            <th>N.</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Pieces</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{@index}}</td>
            <td>{{name}}</td>
            <td>{{brand}}</td>
            <td>{{price}}$</td>
            <td>{{pieces}}</td>
            <td>
                <a class="btn btn-success" href="/products/{{_id}}/edit">Edit</a>
                <a class="btn btn-success" href="/products/{{_id}}/delete">Delete</a>
            </td>
        </tr>


        {{/each}}
    </tbody>
</table>

 {{else}}
        <div class="text-center">
            <h1 class="text-white">No Products</h1>
            <img class="mt-5" src="/icons/keys.png" class="">
        </div>
{{/if}}